@import 'https://fonts.googleapis.com/css?family=Open+Sans:500, 500i, 700, 700i';

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: $m-size;
}

#title-input {
	text-align: center;
	input {
		margin-right: 1em;
	}
}

button {
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #ddd;
		background-color: #222;
	}
	input {
		background-color: #444;
		padding: .6em .6em .5em .6em;
		margin: 2em 0;
		color: $white;
		&::placeholder {
			color: #aaa;
		}
	}
	button {
		padding: .6em .6em .5em .6em;
		background: #444;
		color: $white;
		border: 1px solid #444;
		&:hover {
			background: #666;
			cursor: pointer;
		}
	}
	a {
		color: rgba(2, 212, 240, 0.788);
		text-decoration: none;
	}
}
